<header class="header">

  <div class="header_content">
    <label class="theme_changer">
      <input theme_toggle type="checkbox">
      <div class="button"></div>
    </label>
    <a class="header_circle" href="{{ '/' | relative_url }}">
      <img src="{{ site.user.pic | relative_url }}" alt="{{ site.user.picAlt }}">
    </a>
    <span class="header_name">{{ site.user.name }}</span>
    <span class="header_job">{{ site.user.job }}</span>
    <span class="header_mes">{{ site.user.message }}</span>
      

    <div class="contact_links">
      {% if site.user.location %}
      <span class="contact_link"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
        </svg>
        {{ site.user.location }}
      </span>
      {% endif %}
      {% if site.user.email %}
      <a href="{{ site.user.email }}" class="contact_link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
        </svg>
        Email
      </a>
      {% endif %}
      {% if site.user.github %}
      <a href="{{ site.user.github }}" target="_blank" rel="noopener noreferrer" class="contact_link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
        </svg>
        GitHub
      </a>
      {% endif %}
     {% if site.user.google_scholar %}
      <a href="{{ site.user.google_scholar }}" target="_blank" rel="noopener noreferrer" class="contact_link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 3L1 9l11 6 11-6-11-6zm0 10.32L4.62 9 12 4.68l7.38 4.32L12 13.32zM3 13v6l9 4.5 9-4.5v-6L12 17l-9-4z"/>
        </svg>
        Google Scholar
      </a>
      {% endif %}
    </div>

    <nav class="nav">
      {% if site.user.aboutme %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/aboutme.html">about</a>
        </li>
      </ul>
      {% endif %}
      {% for category in site.categories %}
      {% capture cat_name %}{{ category | first }}{% endcapture %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/categories/{{ cat_name }}" id="aa">{{ cat_name }}
            ({{ category | last | size }})</a>
        </li>
      </ul>
      {% endfor %}
    </nav>
  </div>

</header>

